* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  max-height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  background: #5fc19b;
  background: linear-gradient(45deg, #85d8b6 0%, #5fc19b 50%, #0d8b5a 100%);
}
h1 {
  font-family: "Montserrat", sans-serif;
  color: #f6e9bb;
  font-size: 24px;
  justify-self: flex-start;
}
ul {
  list-style: none;
}
.container {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.con {
  width: 100%;
}
.user-data {
  width: 100%;
  height: 120px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.login-button {
  color: #f0e9d6;
  text-decoration: none;
}
.login-button span {
  text-decoration: underline;
}
.user {
  font-size: 20px;

  padding: 12px 16px;

  color: #f0e9d6;
  border-radius: 4px;
}
.circle {
  width: 100px;
  height: 100px;
  border: 4px solid #f28702;
  border-radius: 100%;
  color: #f0e9d6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(95, 193, 155, 1) 0%,
    rgba(95, 193, 155, 1) 100%
  ); */
  font-size: 16px;
  font-weight: bold;
}
.total-usages-value {
  font-size: 17px;
}
#websites {
  margin-top: 8px;
}
.website {
  margin: 4px 0px;
  width: 100%;
  /* border: 2px solid #e1ad01; */
  padding: 4px 8px;
  background: rgb(0, 59, 53);
  background: linear-gradient(
    135deg,
    rgba(0, 59, 53, 1) 0%,
    rgba(2, 93, 91, 1) 50%,
    rgba(1, 32, 39, 1) 100%
  );
  color: #f0e9d6;

  border-radius: 2px;
}
.view-more {
  width: 100%;

  text-align: center;

  background: #fff;
  padding: 8px 4px;
  border-radius: 6px;
  border: 2px solid #f0e9d6;
  font-weight: bold;
}
.view-more a {
  width: 100%;

  color: rgba(2, 93, 91, 1);
  text-align: center;
  font-size: 14px;
}
.url-link {
  text-decoration: underline;
}
.data-usages,
.carbon-emisson {
  text-align: right;
  font-size: 13px;
}
.data-usages span,
.carbon-emisson span {
  color: #f28702;
}
.total-usages-value::after {
  content: "g";
}
